@charset "utf-8";
/* おまじない */
html{
    font-size: 100%;
}
*{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
button{
    background-color: transparent;
}
:root{
    --color-sub-title: #6a6a6a;
}

/* ヘッダー上部メニュー */
.header-inr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 1.5% 3% 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#logo{
    width: 76.5px;
}
.main-menu{
    display: flex;
    justify-content: center;
    margin: 1.05rem 0 0;
}
.main-menu a{
    font-family: "Noto Sans JP", sans-serif;
    font-size: calc(1.1875rem - 2px);
    font-weight: 500;
    min-height: 2.05rem;
    margin: 0 20%;
}
.menu-women{
    color: #000;
    border-bottom: .063rem solid #6a6a6a;
}
.menu-men,.menu-kids,.menu-baby{
    color: var(--color-sub-title);
}
.menu-men:hover,.menu-kids:hover,.menu-baby:hover{
    color: #000
}
.sub-menu{
    display: flex;
    align-items: center;
}
.Heart-buttoon{
    margin: 0 20px;
}
.cart-button{
    margin: 0 20px;
}
/* ここまで */

/* サブメニュー */
.sub-menu-wrapper{
    width: 80%;
    margin: 4rem auto 0;
    max-width: 1200px;
}
.sub-menu-title{
    display: flex;
    align-items: center;
}
.back-button{
    padding: 2rem;
}
.sub-menu-title h1{
    font-size: 20px;
    font-weight: 300;
}
.nav-list-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    align-items: center;
    margin: 0;
}
.nav-list-items{
    display: flex;
    align-items: center;
}
.nav-list-items p{
    white-space: pre-line;
    line-height: 1.5;
}
.nav-list-items img{
    width: 80px;
    margin: 0 1rem 0 0;
}
.nav-bottom-line{
    margin: 0 0 2.5rem 0;
}
/* ここまで */

/* メインコンテンツ */
.main-content{
    width: 80%;
    margin: 0 auto 3%;
}
.main-content h1{
    margin: 0 0 1.5rem 0.25rem;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
}
.main-content-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
}
.content-title{
    margin: .75rem 1rem 0 0;
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
}
.content-subtitle{
    margin: .75rem 1rem 0 0;
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-sub-title);
    white-space: pre-line;
}
.content-img img{
    min-width: 120px;
}
/* ここまで */

/* フッター */
footer{
    width: 100%;
    background-color: #f4f4f4;
    padding: 1.5rem 0;
    margin: 0 0 10.25rem 0;
}
.footer-top{
    display: flex;
    flex-direction: column;
    margin: 0 .75rem;
}
.footer-menu-top,.footer-menu-bottom{
    margin: 0 1.5rem;
    max-width: 1200px;
}
.footer-menu-top ul{
    margin: 0;
    padding: 0;
}
.footer-item,.footer-item-last{
    margin: .25rem 1rem .25rem 0;
    padding: 0 1rem 0 0;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.footer-item p,.footer-item-last p{
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
}
.footer-item p::after{
    border-right: 1px solid #1b1b1b;
    content: "";
    margin: auto;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.footer-item-container{
    display: inline;
}
.group-alt{
    margin: .75rem 0;
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-sub-title);
}
.footer-hr{
    margin: 1.5rem 0;
}
.footer-bottom{
    margin: 0 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icon{
    width: 280px;
    height: 40px;
}
small{
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-sub-title);
}
/* ここまで */

/* 検索ボックス */
.nav-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 #0000001a;
}
.search-box{
    width: 100%;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}
form{
    width: 88%;
    display: flex;
    align-items: center;
}
input{
    max-width: 100%;
    width: 100%;
    height: 44px;
    border: 1px solid #ababab;
    border-right: none;
    border-left: none;
    border-radius: 6.188rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0 .5rem 0 2.75rem;
}
.search{
    width: 3.438rem;
    min-height: 44px;
    border: 1px solid #ababab;
    border-bottom-left-radius: 6.188rem;
    border-right: 0;
    border-top-left-radius: 6.188rem;
    margin-right: -52.9px;
    padding-right: .5rem;
    z-index: 1;
}
i{
    color: #949494;
}
.camera-search{
    width: 3.438rem;
    min-height: 44px;
    border: 1px solid #ababab;
    border-bottom-right-radius: 6.188rem;
    border-left: 0;
    border-top-right-radius: 6.188rem;
    padding-right: .5rem;
}
.search-box-light{
    width: 50px;
    margin: 0 0 0 8px;
}
.button-nav-wrapper{
    align-items: center;
    display: flex;
    max-width: 29.375rem;
    padding-bottom: 1.5rem;
    width: 40%;
    margin: 0 auto;
}
.button-nav-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.home,.back,.user{
    align-items: center;
    backdrop-filter: blur(15px);
    background: #ffffffe6;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px #0000001a;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin: .5rem 0;
    padding: 0;
    width: 3rem;
}
.back{
    height: 4rem;
    margin: 0;
    width: 4rem;
    background-color: #000000e6;
}
.back-svg{
    fill: #FFF;
}
@media screen and (max-width:799px) {
    .nav-list-wrapper{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .main-menu a{
        margin: 0 7%;
    }
}